
// dimension
$gutterWidth: 16px;
$scrollbarWidth: 0px;
$windowWidth: calc(100vw - var($scrollbarWidth));
$layoutWidth: calc(var($windowWidth) - var($gutterWidth)*2);
$layoutWidthMax: 1080px;
$viewportWidthSmall: 375;
$viewportWidthMedium: 600;
$viewportWidthLarge: 1112;
$viewportScale: calc(var($windowWidth)/var($viewportWidthLarge));
$paddingTop: 160px;
$paddingBottom: 160px;
$columnPaddingNone: 0;
$columnPaddingNormal: 16px;
$columnPaddingMedium: 16px;
$columnPaddingLarge: 16px;
$columnPaddingXLarge: 16px;
$rowGapNormal: 8px;
$rowGapMedium: 24px;
$rowGapLarge: 32px;
$rowGapXLarge: 64px;
$rowGapXXLarge: 88px;
$rowGap: var($rowGapNormal);
$columnCountMax: 1;
$columnWidth: calc(var($layoutWidth)/var($columnCountMax));
$columnMaxWidth: calc(var($layoutWidthMax)*0.25);
$copyMaxWidth: calc(var($columnMaxWidth)*3);



// color
$backgroundColor: none;
$linkColor: #fff;
$linkHoverColor: var($linkColor);
$linkHoverOpacity: 0.6;
$buttonColor: hsla(0,0%,100%,0.2);
$buttonHoverColor: hsla(0,0%,100%,0.4);
$accentColor: #fff;
$knockoutColor: #fff;
$textColor: #fff;
$guideSolidColor: rgba(66,71,112,0.06);
$guideDashedColor: rgba(66,71,112,0.09);
$titleColor: #fff;
$maskFadeColor: rgba(0,0,0,0.4);
$navColor: #fff;
$navHoverColor: #fff;
$navHoverOpacity: 0.6;
$stripeBackground: #fff;


$textColor: #425466;
$textFontSize: 18px;

$fontFamily: "sohne-var","Helvetica Neue","Arial",sans-serif;