@import "../../styles//variables";

#gradient-canvas {
    width: 100%;
    height: 100%;
//     --gradient-color-1: #fdfdfd; 
//     --gradient-color-2: #ffffff; 
//     --gradient-color-3: #d8782a;  
//     --gradient-color-4: #ea8ffc;
// }
    --gradient-color-1: #ef008f; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #7038ff;  
    --gradient-color-4: #ffba27;
}