@import "../../styles//variables";

$section-gap: 50px;
$gradient-padding:120px;
$gradient-title-margin: 100px;
$section-skew-Y: -12deg;
$section-angle-sin: 0.212;
$transform-origin-x: calc(50px * 0.8);
$section-top-height: 500px;

@mixin sectionTopHeight($px) {
    height: $px
}

.section_top {
    position: relative;
	height: $section-top-height;
	width: 100%;	

	.section-container, .section-layout-container {
		height: 100%;
	}

	.section-layout {
		position: relative;
	}

	.section_background-wrap {
		transform: skewY(-12deg);
		transform-origin: 0px 100%;
		top: 0;
		left: 0;
		position: absolute;
		height: 100%;
		width: 100vw;
	}

	.section-layout-container {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 98%;
		margin: 0px auto;
		align-items: end;
		padding: 8px;

		@media screen and (min-width: 1024px) {
			width: 1020px;
		}
	}

	.section-title-1 {
		font-size: 92px;
		font-weight: 600;

		@media screen and (max-width: 1024px) {
			font-size: 80px;
		}
	}
}

@media screen and (max-width: 768px) {
	.section_top {
		@include sectionTopHeight(300px)
	}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.section_top {
		@include sectionTopHeight(400px)
	}

	.section-layout__right {
		@include sectionTopHeight(500px)
	}


}

.text {
	line-height: 1;
	margin: var(--gradient-title-margin) 0 0 0;
	text-transform: none;
	letter-spacing: -7px;
	min-height: 200px;
	display: flex;
	align-items: flex-end;
}

.text-above {
	color: #ffffff;
    position: relative;
	visibility: hidden;
}

.text-under {
	bottom: 0px;
	left: 0;
	z-index: 2;
}
.text-under-blended {
	color: #3a3a3a;
	mix-blend-mode: color-burn;
}

.text-under-overlay {
	opacity: 0.2;
	color: #3a3a3a;
}

.subtitle {
	font-size: $textFontSize;
	color: $textColor;
}

.section-layout__right {
	max-height: 600px;
    padding-top: 0px;
    z-index: 2;
}